global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'orchestrator'
    metrics_path: /actuator/prometheus
    static_configs:
      - targets:
        - 'orchestrator:8080'
        - 'orchestrator-2:8080'
        - 'orchestrator-3:8080'
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+):\d+'
        replacement: '${1}'

  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka:9092']
